body
{
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a
{
  color: #00B7FF;
}

#map_container
{
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.3;
  bottom: 0;
}