@font-face
{
  font-family: 'GreatLakesNFRegular';
  src: url('../fonts/GREALN__-webfont.eot');
  src: url('../fonts/GREALN__-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GREALN__-webfont.woff') format('woff'),
  url('../fonts/GREALN__-webfont.ttf') format('truetype'),
  url('../fonts/GREALN__-webfont.svg#GreatLakesNFRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body
{
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a
{
  color: #00B7FF;
}

h1#title
{
  position: absolute;
  z-index: 10;
  margin: 4%;
  padding: 0;
  font-weight: normal;
}

h1#title a
{
  text-decoration: none;
  color: #333;
  font-size: 2em;
  font-family: 'GreatLakesNFRegular';
}

#map_container
{
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.3;
  bottom: 0;
}

#search_container
{
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}

#search_field
{
  padding: 10px;
  border: solid 4px #333;
  font-size: 3.2em;
  background: none;
  color: #333;
  width: 50%;
  border-radius: 8px;
  outline: none;
}

#search_field:focus
{
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  color: #EEE;
}

.channel_on #search_container
{
  display: none;
}

.channel_on #map_container
{
  opacity: 1;
}